{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}


	<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

	{{ form_start(form) }}

	<div class="row">
		<div class="col">
			{{ form_row(form.username, {'label': 'Nom d\'utilisateur' }) }}
        </div>
        <div class="col">
            {{ form_row(form.telephone, {'label': 'Téléphone' }) }}
        </div>
    </div>
    {{ form_row(form.email, {'label': 'Adresse mail' }) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.password, {'label': 'Mot de passe' }) }}
        </div>
        <div class="col">
            {{ form_row(form.confirm_password, {'label': 'Confirmation de mot de passe' }) }}
        </div>
    </div>
    <button type="submit" class="btn btn-warning">s'inscrire</button>
    {{ form_end(form) }}
		{% endblock %}
