{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="mx-auto" style="width: 250px;">
		<img src="{{ asset('images/logo.png') }}" class="img-thumbnail" style="width: 100%;height: 150px;object-fit: cover;" alt="Responsive image">
		<h1 class="text-white" style="margin-left:15px;	">BricoMarket</h1>
	</div>
	<form method="post" action="{{ path('list_tool') }}">
		<div class="input-group mb-2">
			<input name="name" type="text" class="form-control" placeholder="Taper ici votre outil">
			<select name="department" class="custom-select col-md-4">
				<option value="">Départements...</option>
				{% for department in list_department %}
					<option value="{{ department.getId() }}">{{ department.getFullName() }}</option>
				{% endfor %}
			</select>
			<select name="category" class="custom-select col-md-2">
				<option value="">Catégories...</option>
				{% for category in list_category %}
					<option value="{{ category.getId() }}">{{ category.getName() }}</option>
				{% endfor %}
			</select>
			<div class="input-group-append">
				<button class="btn btn-warning">
					<i class="fas fa-search"></i>
					Rechercher</button>
			</div>
		</div>
	</form>
	<div class="card-deck">
		<div class="card" style="width: 20rem;">
			<img src="https://www.flex-tools.com/fileadmin/flex-tools.com/media/03_Startseite/jigsaw.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Louer un outil</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a class="btn btn-warning" href="{{ path('list_tool') }}">Louer</a>
			</div>
		</div>

		<div class="card" style="width: 20rem;">
			<img src="https://i.pinimg.com/originals/2a/4b/4b/2a4b4bca04fc3b9034c05e2f3a76f69a.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Réserver un poste de travail</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a class="btn btn-success">Réserver</a>
			</div>
		</div>

		<div class="card" style="width: 20rem;">
			<img src="https://www.ouestfrance-auto.com/9d2d5a3/images/landing-page/lp-upsell-une.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Déposer votre annonce</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a class="btn btn-dark text-white" href="{{ path('create_tool') }}">Déposer</a>
			</div>
		</div>
	</div>
{% endblock %}
