<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet"/>
			<link href="{{ asset('fontawesome/css/all.css') }}" rel="stylesheet"/>
			<link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img id="logo" src="{{ asset('images/logo.png') }}" class="img-fluid" alt="Responsive image">
			<a class="navbar-brand" href="{{ path('home') }}">BricoMarket</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Catégories
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacts</a>
					</li>
				</ul>
				<form class="my-2 my-lg-0">
					{% if not app.user %}
						<a type="button" class="btn btn-dark" href="{{ path('app_registration') }}">S'inscrire</a>
						<a type="button" class="btn btn-warning" href="{{ path('app_login') }}">Se connecter</a>
					{% else %}
						<a href="{{ path('message') }}">
							<i class="far fa-comments"></i>
						</a>
						<a>
							<i class="far fa-user"></i>
							{{ app.user.username }}</a>
						<a type="button" class="btn btn-warning" href="{{ path('app_logout') }}">Se déconnecter</a>
					{% endif %}
				</form>
			</div>
		</nav>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="{{ asset('bootstrap/js/bootstrap.bundle.js') }}"></script>
			{% endblock %}
		</body>
	</html>
</body></html>
